@page
@model WebGUI_CourseProject208_popovychTaras.Pages.Storage.StorageEditModel
@{
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Storage Data</title>
  </head>
  <body>
    <br/>
    <h2>Edit Data</h2>

    @if (Model.errorMessage.Length > 0)
    {
                  <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.errorMessage</strong>
                    <button
                      type='button'
                      class='btn-close'
                      data-bs-dissmiss='alert'
                      aria-label='Close'
                    ></button>
                  </div>
    }

    <form method="POST">
        <input type="hidden" name="id" value="@Model.storageInfo.storageID">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Storage Number</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="storageNumber"
            value="@Model.storageInfo.storageNumber"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Consignment ID</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="consignmentID"
            value="@Model.storageInfo.consignmentID"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Shelf</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="shelf"
            value="@Model.storageInfo.shelf"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Count of schemes</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="countOfSchemes"
            value="@Model.storageInfo.countOfSchemes"
          />
        </div>
        </div>

        @if (Model.successMessage.Length > 0)
        {
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <div class='alert alert-success alert-dismissible fade show' role='alert'>
                          <strong>@Model.successMessage</strong>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dissmiss="alert"
                            aria-label="close"
                          ></button>
                        </div>
                      </div>
                    </div>
        }

      <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
          <button type="Submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
          <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
      </div>
    </form>
  </body>
</html>