@page
@model WebGUI_CourseProject208_popovychTaras.Pages.Supplyers.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistics</title>
  </head>
  <body>
      <br></br>
    <h2>Suppliers list</h2>
    <table class="table">
      <thead>
        <tr>

<th>Product</th>
<th>Number</th>
<th>Supplyer</th>
<th>Date</th>
<th>Private</th>
<th>Info</th>
<th>Payment</th>
        </tr>
      </thead>
      <tbody>
            @foreach (var item in Model.supplyersList)
            {
                    <tr>
                    <td>@item.ChipName</td>
    <td>@item.ConsignmentNumber</td>
    <td>@item.SupplyerName</td>
    <td>@item.SupplyDate</td>
    <td>@item.OrderPrivateInfo</td>
    <td>@item.OrderInfo</td>
    <td>@item.PaymentInfo</td>
                    </tr>
            }
      </tbody>
    </table>
  </body>
</html>
